*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body    {
    background-color: rgb(8, 8, 8);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

select  {
    height: 25px;
    width: 50px;
    font-size: 16px;
    border-radius: 5px;
}

button  {
    height: 40px;
    width: 80px;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    border-radius: 5px;
}
